{% extends 'myapp/base.html' %}

{% block body_block %}
    {% if prodlist %}
        <div class="panel panel-success detailpanel">
        <!-- Default panel contents -->
            <div class="panel-heading"><h3 class="panel-title">List of Products</h3></div>
            <!-- List group -->
            <ul class="list-group productsthing">
                {% for prod  in prodlist %}
                    <li> <a href="{% url 'myapp:product detail' prod.pk %}"> {{ prod.name}} </a></li>
                {% endfor %}
            </ul>
            <div class="panel-footer">
                <a href="{% url 'myapp:place_order' %}">Place new Order</a>
            </div>
        </div>


{#        <h2>List of Products</h2>#}
{#        <ol>#}
{#            {% for prod  in prodlist %}#}
{#                <li> <a href="{% url 'myapp:product detail' prod.pk %}"> {{ prod.name}} </a></li>#}
{#            {% endfor %}#}
{#        </ol>#}
{##}
{#        <a href="{% url 'myapp:place_order' %}">Place new Order</a>#}
    {% else %}
        <div class="alert alert-warning" role="alert">There are no available Products!</div>
{#        <strong>There are no available Products!</strong>#}
    {% endif %}
{% endblock %}