/*.hbar1 {*/
    /*display: inline;*/
    /*margin: 15px;*/
    /*float: left;*/
/*}*/

/*h1 {*/
    /*background-color: pink;*/
    /*color: brown;*/
    /*font-style: italic;*/
    /*display: block;*/
    /*text-align: center;*/
    /*font-size: 2em;*/
    /*margin-top: 0.67em;*/
    /*margin-bottom: 0.67em;*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    /*font-weight: bold;*/
/*}*/

body{

    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    font-family: 'Lato', sans-serif;
}

.message {
    padding-left: 140px;
    font-weight: bold;
}

.loginform {
    width: 30%;
    margin: 70px auto;
}

.loginbtn{
    width: 100%;
}

.input-group {
    margin-bottom: 10px;
}

.indexpanel {
    width: 50%;
    margin: auto;
}

.jumpbthing {
    background: url("https://images.unsplash.com/photo-1526542129713-497ab18153b1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b3d36a84ba99961b2657bd657045935c&auto=format&fit=crop&w=1506&q=80");
    background-size : cover;
    height: 500px;
    margin-bottom: 40px;
}

#content {
   text-align: center;
   padding-top: 15%;
   text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                0px 8px 13px rgba(0, 0, 0, 0.1),
                0px 18px 23px rgba(0, 0, 0, 0.1);
    color: white;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

table {
    counter-reset: tableCount;
}
.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}

.detailpanel {
    width: 50%;
    margin-top: 30px;
    margin-left: 30px;
}


ul {
    list-style: none;
}

.productsthing {
    margin-left: 15px;
}


.thisrow {
    background-color: #DFF0D8;
}







